// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap");

// Bootstrap
@import 'bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "poppins";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/public/images/backdground.svg') no-repeat center center/cover;
}

.container {
    height: 600px;
    width: 450px;
    background: linear-gradient(to bottom,
        rgba(0, 89, 153, 0.7),
        rgb(0, 89, 153, 0.9),
        rgba(0, 89, 153, 0.3));
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.form-control {
    border-radius: 0px;
}

.form-container{

}

//overwrites the style when user prefills input, with and without focus
//https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.form-control:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}



.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recoverPassword-form{
    display: flex;
    height: 100% !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    position: absolute;
    transform: translateX(0px);
    transition: 0.5s ease;
}

.login-form.active {
    transform: translateX(-410px);
}

.Register-form {
    transform: translateX(410px);
    transition: 0.5s ease;
}

.Register-form.active {
    transform: translateX(0);
}

h2 {
    color: #ffffff;
    font-size: 32px;
}

p {
    text-align: center;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
}

.input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid rgba(0, 89, 153, 0.9);
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
    padding-right: 40px;
}

/*previne que a label desça quando o input está preenchido - Beatriz Barbosa*/
.input-container .always-focused {
    top: -12px;
    font-size: 12px;
}
.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -12px;
    font-size: 12px;
}

.input-container img {
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    z-index: 2;
}

.input-container .invalid-feedback {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    color: #f00;
    margin-top: 5px;
    width: 100%;
}

input::placeholder {
    font-size: 13px;
}

input#checked {
    margin-right: 3px;
}

.forgot-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
}

.forgot-section span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.forgot-section span a {
    color: #fffefe;
    text-decoration: none;
}

.btn {
    width: 90%;
    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: linear-gradient(45deg,
        rgba(0, 89, 153, 0.5),
        60%,
        rgba(0, 89, 153, 0.5));
    font-size: 19px;
    font-weight: 500;
    color: #eee;
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    width: 0%;
    background: linear-gradient(45deg, rgba(0, 89, 153), 60%, #0e9fd8);
    transition: 0.5s ease;
    z-index: -1;
}

.btn:hover {
    color: #eee;
}

.btn:hover:before {
    width: 100%;
}

p {
    font-size: 13px;
    font-weight: 500;
    margin: 25px 0;
}

.social-media {
    display: flex;
}

.social-media i {
    font-size: 28px;
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.social-media i:nth-child(1) {
    color: #eee;
    background: #1822dd;
    border-radius: 50%;
    border: 2px solid #eee;
}

.social-media i:nth-child(1):hover {
    background: #eee;
    color: #1822dd;
    border: 2px solid #1822dd;
}

.social-media i:nth-child(2) {
    color: #eee;
    background: #f00;
    border-radius: 50%;
    border: 2px solid #eee;
}

.social-media i:nth-child(2):hover {
    background: #eee;
    color: #f00;
    border: 2px solid #f00;
}

.social-media i:nth-child(3) {
    color: #eee;
    background: #098dc1;
    border-radius: 50%;
    border: 2px solid #eee;
}

.social-media i:nth-child(3):hover {
    background: #eee;
    color: #098dc1;
    border: 2px solid #098dc1;
}

.RegisteBtn a {
    text-decoration: none;
    font-size: 14px;
}




@media (max-width: 575.98px) {
    .Form {
        width: 100%;
        padding: 0 15px;
    }

    img {
        width: 100%;
        height: auto;
    }

    h4 {
        font-size: 1.5rem;
    }

    .p {
        font-size: 0.9rem;
    }
}


@media (min-width: 576px) {
    .Form {
        max-width: 400px;
        margin: 0 auto;
    }
}


@media (max-width: 767.98px) {
    .Form {
        width: 100%;
        padding: 0 15px;
    }

    img {
        width: 100%;
        height: auto;
    }

    h4 {
        font-size: 1.5rem;
    }

    .p {
        font-size: 0.9rem;
    }
}


/* Estilo para telas maiores ou iguais a 768px (tablets, desktops pequenos, etc.) */
@media (min-width: 768px) {
    .Form {
        max-width: 500px;
    }
}

/* Estilo para iPhones na orientação horizontal */
@media (max-width: 812px) and (orientation: landscape) {
    .Form {
        max-width: 400px;
        margin: 0 auto;
    }
}

/* Estilo para telas maiores ou iguais a 992px (desktops, laptops, etc.) */
@media (min-width: 992px) {
    .Form {
        max-width: 600px;
    }
}

/*/* Estilo para iPads e tablets em orientação paisagem */
@media (min-width: 1024px) {
    .Form {
        max-width: 600px;
    }
}

/* Estilo para telas maiores ou iguais a 1200px (desktops grandes, etc.) */
@media (min-width: 1200px) {
    .Form {
        max-width: 800px;
    }
}
