/* Estilos de impressão */
@media print {
    .table, .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

/* Tabela principal */
main.table {
    width: calc(100% - 40px); /* Ajusta a largura para ocupar o container */
    height: auto;
    min-height: calc(100vh - 100px); /* Ajusta a altura mínima para preencher a área até o footer */
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem; /* Arredonda as bordas do container principal */
    overflow: hidden;
    margin-bottom: 50px; /* Ajusta o espaço inferior para não colar no footer */
    transition: width 0.3s; /* Adiciona transição para a largura */
    padding: 10px; /* Adiciona padding para garantir que a tabela não seja cortada */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

/* Cabeçalho da tabela */
.table__header {
    width: 100%;
    height: auto;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: center; /* Centraliza a barra de pesquisa */
    align-items: center;
    position: relative; /* Necessário para posicionar a exportação à direita */
    border-radius: .8rem .8rem 0 0; /* Aplicando border-radius no topo esquerdo e direito */
}

/* Grupo de busca */
.table__header .input-group {
    width: 45%;
    height: 2.5rem;
    background-color: #fff5;
    padding: 0 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: 0 .1rem .4rem #0002;
}

/* Efeito de foco na busca */
.table__header .input-group:hover {
    width: 55%;
    box-shadow: 0 .2rem .6rem #0004;
    border: 1px solid #0002;
}

/* Entrada de busca */
.table__header .input-group input {
    width: 100%;
    height: 1.8rem; /* Aumenta a altura da entrada */
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

/* Exportação de arquivos */
.export__file {
    position: absolute;
    right: 1rem; /* Alinha a área de exportação à direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    z-index: 10; /* Garante que a área de exportação esteja acima do resto do conteúdo */
}

/* Botão de exportação */
.export__file .export__file-btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url('/images/menu.svg') center / 100% no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: .2s ease-in-out;
    filter: brightness(0);
    margin-right: 1rem;
}

/* Efeito de hover no botão de exportação */
.export__file .export__file-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
    background-color: var(--green);
    filter: brightness(1);
}

/* Estilos do input de exportação */
.export__file input {
    display: none; /* Oculta o input */
}

/* Opções de exportação */
.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
    background-color: #fff; /* Adiciona cor de fundo para visibilidade */
    z-index: 100; /* Garante que as opções estejam acima do resto do conteúdo */
}

/* opções de exportação quando o input está selecionado */
.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
}

/* opções de exportação */
.export__file .export__file-options label {
    display: block;
    width: 100%;
    height: 45px;
    padding: .6rem 0;
    background-color: #f2f2f2;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

/*primeira opção de exportação */
.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

/* hover nas opções de exportação */
.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

/* body tabela */
.table__body {
    width: 100%; /* Ajusta a largura para ocupar o container */
    max-height: calc(100vh - 200px); /* define a altura máxima da tabela */
    background-color: #fffb;
    margin: 0 auto; /* Remove margens laterais */
    border-radius: 0 0 .8rem .8rem; /* Aplicando border-radius no fundo esquerdo e direito */
    overflow: auto;
}

/* scroll */
.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
    border-radius: .8rem; /* Adiciona bordas arredondadas à tabela */
    overflow: hidden;
    border-collapse: collapse; /* Certifique-se de que a borda esteja colapsada */
}

/* células  */
table, th, td {
    text-align: left;
    padding: 10px;
    white-space: nowrap; /* Prevent text wrapping */
}

/* cabeçalhos */
thead th {
    position: sticky;
    top: 0;
    background-color: var(--blue);
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    z-index: 5;
}

/*linhas pares do corpo */
tbody tr:nth-child(even) {
    background-color: #0000000b;
}

/* linhas do corpo */
tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

/* linhas ocultas */
tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

/* hover nas linhas */
tbody tr:hover {
    background-color: rgb(134, 228, 157) !important;
}

/* células e conteúdo das linhas */
tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

/*células ocultas */
tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    transition: .2s ease-in-out .5s;
}

/* Estilos das setas de ordenação */
thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    margin-left: 1px;
    transition: .2s ease-in-out;
}

/* hover nos cabeçalhos */
thead th:hover {
    cursor: pointer;
}

/* rotação da seta */
thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

.red-text {
    color: rgb(255, 40, 40);
}

.limit {
    width: 170px;
}

.center-text {
    text-align: center;
}

/* MEDIA QUERIES */

/* Ajustes para telas maiores */
@media only screen and (min-width: 992px) {
    .table td {
        font-size: 18px;
    }

    .sidebar-collapsed main.table {
        width: calc(100% - 80px); /* Ajusta a largura quando a sidebar está encolhida */
    }
}

/* Ajustes para smartphones (iPhone 6/7/8) */
@media only screen and (max-width: 375px) {
    .table td {
        font-size: 14px;
        padding: 5px;
    }

    .table__header .input-group {
        width: 100%; /* Aumenta a largura da barra de busca */
        margin-top: 10px; /* Adiciona margem superior */
    }

    .export__file .export__file-btn {
        width: 2rem; /* Reduz tamanho do botão */
        height: 2rem;
        margin-right: 0.5rem;
    }

    .export__file .export__file-options {
        width: 10rem; /* Reduz largura das opções */
    }

    .table__header {
        flex-direction: column; /* Alinha elementos verticalmente */
        align-items: flex-start;
    }

    .sidebar-collapsed main.table {
        width: calc(100% - 40px); /* Ajusta a largura quando a sidebar está encolhida */
    }
}

/* Ajustes para tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .table td {
        font-size: 16px;
    }

    .table__header .input-group {
        width: 60%; /* Ajusta a largura da barra de busca */
    }

    .export__file .export__file-options {
        width: 11rem; /* Ajusta largura das opções */
    }

    .sidebar-collapsed main.table {
        width: calc(100% - 60px); /* Ajusta a largura quando a sidebar está encolhida */
    }
}

/* Ajustes para modo retrato */
@media only screen and (orientation: portrait) {
    .table td {
        font-size: 14px;
        padding: 5px;
    }

    .table__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .table__header .input-group {
        width: 100%;
        margin-top: 10px;
    }

    .export__file .export__file-btn {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }

    .export__file .export__file-options {
        width: 10rem;
    }

    .sidebar-collapsed main.table {
        width: calc(100% - 40px); /* Ajusta a largura quando a sidebar está encolhida */
    }
}
