/* CSS */
.div-button {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.div-button button {
    border: 1px solid var(--blue);
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
}

.div-button button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
