.vacation-event {
    background-color: green !important;
    border-color: green !important;
}

.absence-event {
    background-color: red !important;
    border-color: red !important;
}

:root {
    --white: #ffffff;
    --gray: #E9E9E9;
    --black: #222;
    --black2: #999;
    --blue: #005999;
    --blue-dark: #06294f;
    --secondary-color: #6C757D;
    --secondary-color-dark: #5a6268;
}

.container-menu {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    flex: 1;
    align-items: center;
}

.right-column {
    flex: 1.2;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-In-Out {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.btn-in {
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    color: var(--white);
    font-size: larger;
}

.btn-out {
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
    font-size: larger;
}

.btn-completed {
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    color: var(--white);
    font-size: larger;
    background-color: rgba(168, 122, 122, 0.5);
}

.notifications {
    text-align: center; /* Alinha o conteúdo da div no centro */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar {
    flex: 2;
    width: 100%;
    margin-top: 50px;
}

.btn-in-out {
    display: flex;
    align-items: center;
    justify-content: center; /* Center text inside button */
    margin: 10px 5px;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 5px black;
}

.btn-in {
    background-color: var(--green);
}

.btn-in:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.btn-out {
    background-color: #C80002;
}

.btn-out:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*modal*/
/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 70%;
    align-self: center;
}

.calendar-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group-event {
    margin-bottom: 15px;
}

.form-group-event label {
    display: block;
    margin-bottom: 5px;
}

.form-group-event input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group-event button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-group-event button:hover {
    background-color: var(--green);
}

.form-group-event .btn-delete {
    background-color: #C80002;
}

.form-group-event .btn-delete:hover {
    background-color: darkred;
}

.table-container {
    max-height: 500px; /* Ajuste a altura conforme necessário */
    width: 95%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto; /* Centraliza a tabela */
    border-radius: 15px; /* Arredonda as bordas da tabela */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

.table-body-container {
    max-height: 400px; /* Ajuste a altura conforme necessário */
    overflow-y: scroll;
    display: block;
    width: 100%;
}

.table-notifications {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 15px; /* Arredonda as bordas da tabela */
    overflow: hidden; /* Garante que as bordas arredondadas sejam aplicadas */
}

.table-notifications thead th {
    position: sticky;
    top: 0;
    background: var(--blue);
    color: var(--white);
    z-index: 1;
    text-align: left;
    padding: 10px;
}

.table-notifications tbody td {
    padding: 10px;
    border-bottom: 1px solid var(--gray);
}

.table-notifications tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Efeito de hover sutil */
}

button#mark-all {
    margin-top: 10px;
}

button.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 10px; /* Adiciona espaço entre os botões */
}

button.btn-primary {
    background-color: var(--blue);
}

button.btn-primary:hover {
    background-color: var(--blue-dark);
    transform: scale(1.05);
}

button.btn-secondary {
    background-color: var(--secondary-color);
}

button.btn-secondary:hover {
    background-color: var(--secondary-color-dark);
    transform: scale(1.05);
}

/* Dispositivos Móveis */
@media (max-width: 768px) {
    .row {
        flex-direction: column-reverse;
    }

    .container-menu {
        flex-direction: column;
    }
}
