/* Container Excel */
.containerExcel {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    position: relative;
}

/* Title Excel */
.titleExcel {
    display: flex;
    align-items: center;
}

.help-icon {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #005999;
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

/* Modal */
.modal-export {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
}

.modal-export-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word; /* Adiciona quebra de linha automática para conteúdo longo */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-export-content h2 {
    margin-top: 0;
}

.modal-export-content p {
    word-wrap: break-word; /* Garante a quebra de palavras longas */
}


/* Messages after import Styles */
.errorMessage,
.successMessage {
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.errorMessage {
    border: 5px #ff5a5a solid;
    background-color: #ff7b7b;
}

.successMessage {
    border: 5px #3dbe45 solid;
    background-color: #77ff81;
}

.firstContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Geral Form Styles */
.importForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: calc(50% - 10px); /* Adjust width for two columns */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Import Input Style */
.import-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.import-input:hover {
    border-color: #888;
}

/* Buttons Div */
.buttonsDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Import Button Style */
.buttonImport,
.exportButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #005999;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    flex: 1;
}

.buttonImport:hover,
.exportButton:hover {
    background-color: #003d69;
}

/* Captions */
.captionParagraph {
    margin-bottom: 10px;
}

/* Media Queries */
@media only screen and (max-width: 1700px) {
    .firstContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .importForm {
        width: calc(50% - 10px);
    }
}

@media only screen and (max-width: 1120px) {
    .importForm {
        width: calc(50% - 10px);
    }
}

@media only screen and (max-width: 680px) {
    .importForm {
        width: 100%;
    }

    .buttonImport,
    .exportButton {
        font-size: 15px;
    }
}
