.tableSection{
    margin-top: 50px;
}

.formDiv{
    padding-left: 50px;
    margin-top: 50px;
}

.section{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.motiveSection{
    margin-top: 25px;
}

.justificationCreateButton{
    margin-bottom: 25px;
}