
/* Ajustes responsivos */
@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }
}

.tableSection {
    width: 100%;
    margin-top: 50px;
}

.formDiv {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    background-color: #f9f9f9;
    border-radius: 15px; /* Borda arredondada */
}

.section {
    margin-bottom: 15px;
}

.motiveSection {
    margin-top: 25px;
}

.inputHour {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Borda arredondada */
}

.justificationCreateButton {
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Cor azul */
    color: white;
    border: none;
    border-radius: 15px; /* Borda arredondada */
    padding: 10px 20px;
    transition: background-color 0.3s;
    width: 100%; /* Ocupa toda a largura */
    margin-top: 10px;
    margin-bottom: 25px;
}

.justificationCreateButton:hover {
    background-color: #28a745; /* Cor verde */
}

/* Estilos de responsividade */
@media (max-width: 768px) {
    .inputHour {
        font-size: 14px;
    }

    .justificationCreateButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}

