.divGeral{
    margin-top: 100px;
    margin-left: 40%;
}

.content-area{
    position: relative;
    margin-top: 0px;
}

.inputClass{
    font-size: 16px;
}

.spanTimeOne{
    margin-right: 50px;
}

.spanTimeTwo{
    margin-right: 75px;
}

.spanTimeThree{
    margin-right: 108px;
}

.groupYear{
    margin-top: 10px;
}

.submitButton{
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--blue);
    color:white;
    cursor: pointer;
}

.submitButton:hover{
    background-color: var(--green);
    color: white;
}

.textsDiv{
    margin-left: 10px;
}

.divMonth{
    margin-top: 20px;
    width: 250px;
}

/* Estilo adicional para responsividade */
@media (max-width: 750px) {

    .divGeral{
        margin-top: 100px;
        margin-left: 0;
    }

}

/* Estilo adicional para responsividade */
@media (max-width: 700px) {

    .container form{
        padding: 10px 20px 10px 20px;
    }

}


