.form-container {
    display: flex;
    margin-top: 15px;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 1em;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

input:focus {
    border-color: var(--blue);
    outline: none;
}


button.btn, a.btn {
    display: inline-block;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
    background-color: var(--blue);
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
}


.form-text {
    display: block;
    color: var(--black2);
    margin-top: 0.25rem;
}
