/* Estilo para centralizar a página e adicionar sombra */
.centralBox {
    padding: 20px;
    width: 100%;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 .4rem .8rem #0005;
    height: 80vh;
}

/* Tabela principal */
.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 15px;
    height: 60vh;
    overflow-y: auto;
    position: relative;
}

main.table {
    width: 100%;
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

/* Cabeçalho da tabela */
.table__header {
    width: 100%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Grupo de busca */
.table__header .input-group {
    flex-grow: 1;
    max-width: 500px;
    height: 2.5rem;
    background-color: #fff5;
    padding: 0 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: 0 .1rem .4rem #0002;
    margin: 0 auto; /* Centraliza o grupo de busca */
}

/* Efeito de foco na busca */
.table__header .input-group:hover {
    max-width: 600px;
    box-shadow: 0 .2rem .6rem #0004;
    border: 1px solid #0002;
}

/* Entrada de busca */
.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

/* Corpo da tabela */
.table__body {
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    position: relative;
}

/* Scroll */
.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    position: relative;
}

/* Células da tabela */
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

/* Cabeçalhos da tabela */
thead th {
    position: sticky;
    top: 0;
    background-color: var(--blue);
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    z-index: 1;
}

/* Cabeçalho fixo da tabela */
.header-Table {
    position: sticky;
    top: 0;
}

/* Linhas pares do corpo */
tbody tr:nth-child(even) {
    background-color: #0000000b;
}

/* Linhas do corpo */
tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

/* Linhas ocultas */
tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

/* Hover nas linhas */
tbody tr:hover {
    background-color: rgba(237, 203, 203, 0.75) !important;
}

/* Células e conteúdo das linhas */
tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

/* Células ocultas */
tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    transition: .2s ease-in-out .5s;
}

/* Estilos das setas de ordenação */
thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

/* Hover nos cabeçalhos */
thead th:hover {
    cursor: pointer;
}

/* Rotação da seta */
thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

/* Exportação de arquivos */
.export__file {
    position: relative;
}

/* Botão de exportação */
.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/images/menu.svg') center / 100% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

/* Efeito de hover no botão de exportação */
.export__file .export__file-btn:hover {
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

/* Estilos do input de exportação */
.export__file input {
    display: none;
}

/* Opções de exportação */
.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}

/* Opções de exportação quando o input está selecionado */
.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

/* Opções de exportação */
.export__file .export__file-btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url('/images/menu.svg') center / 100% no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: .2s ease-in-out;
    filter: brightness(0);
    margin-right: 1rem;
}

/* Efeito de hover no botão de exportação */
.export__file .export__file-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
    background-color: var(--green);
    filter: brightness(1);
}

/* Estilos do input de exportação */
.export__file input {
    display: none;
}

/* Opções de exportação */
.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: opacity .2s, transform .2s, pointer-events .2s;
    pointer-events: none;
}

/* Opções de exportação quando o input está selecionado */
.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
    pointer-events: auto;
}

/* Opções de exportação */
.export__file .export__file-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

/* Primeira opção de exportação */
.export__file .export__file-options label:first-of-type {
    padding: 1rem 0;
    background-color: #86e49d !important;
}

/* Hover nas opções de exportação */
.export__file .export__file-options label:hover {
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

/* Botão de exportação */
.export__file-btn {
    cursor: pointer;
}

/* Modal container */
.modal-work-times {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal content */
.modal-content-work-times {
    margin: 5% auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

/* Modal header */
.modal-content-work-times h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Form elements */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Form inputs */
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Submit botão */
.modal-content-work-times button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover submit botão */
.modal-content-work-times button:hover {
    background-color: var(--green);
}

/* Botão para fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botão para abrir o modal */
.openModal {
    display: inline-block;
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    border-radius: 10px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.openModal:hover {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
    .centralBox {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .centralBox {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .centralBox {
        width: 98%;
    }
}

@media (max-width: 576px) {
    .centralBox {
        width: 100%;
    }
}

/* Estilos de impressão */
@media print {
    .table, .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}
