table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td{
    padding: 8px;
}

.id_cell{
    border-radius: 15px 0px 0px 0px;
    border: none;
}

.delete_cell{
    border-radius: 0px 15px 0px 0px;
    border: none;
}



.buttonDiv{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.exportButtonWorkShits{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container form{
    padding: 0;
    margin: 0px;
}

/*EDIT FORM*/

.start_hour_label{
    margin-right: 200px;
}

.break_start_label{
    margin-right: 122px;
}

.break_end_label{
    margin-right: 135px;

}

.end_hour_label{
    margin-right: 234px;

}

.inputHour{
    border: 2px solid #ddd;
    border-radius: 50px;
    padding: 6px;
    margin-top: 10px;
}

.editButton , .createButton{
    margin-top: 20px;
}

.buttonEditData{
    text-decoration: none;
}

/*CREATE FORM*/

.indexCreateButton{
    margin-top: 20px;
    margin-bottom: 20px;
}

.end_hour_label_create{
    margin-right: 218px;
}

.mensagemDiv{
    padding: 30px;
    border: 5px #ff5a5a solid;
    background-color: #ff7b7b;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    visibility: hidden;
}

.inputHour{
    margin-right: 20px;
}

.start_hour_label ,.break_start_label ,.break_end_label ,.end_hour_label,.end_hour_label_create{
    margin-left: 20px;
}

.addWorkShiftTitle{
    margin-bottom: 20px;
}

.sub-menu .indexCreateButton{
    background: var(--green);
    padding: 15px 20px 15px 20px;
    border: transparent;
    border-radius: 15px;
    margin: 15px 0 0 15px;
    color: var(--white);
    cursor: pointer;
    transition: font-size 0.5s ease;
}

.centralBox {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 .4rem .8rem #0005;
}

.createButton {
    background-color: #005999;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.createButton:hover {
    background-color: #097D56;
}


/* Ajustes responsivos */
@media (max-width: 1200px) {
    .centralBox {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .centralBox {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .centralBox {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .centralBox {
        width: 95%;
    }
}
